<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    {%load static%}
    <link href="{%static 'home.css'%}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar"><h1>{{event.title}}</h1></div>
    <div>
      <p>city: {{ event.city }}</p>

      <p>genere: {{ event.genere }}</p>

      <p>date: {{ event.date }}</p>
      <p>description: {{ event.description}}</p>

      <form method="post">{% csrf_token %}</form>

      <textarea placeholder="write message to organiser" name="msg"></textarea
      ><br />

      {% if event.sponsor %}
      <button name="add_sponsor">
        <a href="{% url 'sponsor:add_sponsor' event.id %}">Sponsor</a>
      </button>
      {% endif %}

      <h4><a href="{% url 'sponsor:sponsored_events' %}">My Sponsoreds</a></h4>
    </div>
  </body>
</html>
