<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    {%load static%}
    <link href="{%static 'login.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <div class="navbar"><h1>Sonsored</h1></div>
        <h1 style="text-align: center">{{slug}} login</h1>
        <div class=box>
            <form method="post">
                {% csrf_token %}
                username
                <input type="text" name="username" placeholder="username">
                password
                <input type="password" name="password" placeholder="password">
                <button type="submit">submit</button>  
                <a href="/signup">signup</a>
            </form>
        </div>
    </nav>
</body>
</html>